# Dependencias
node_modules/
npm-debug.log
yarn-error.log
yarn-debug.log

# Compilados
dist/
build/
*.tsbuildinfo

# Entorno
.env
.env.local
.env.*.local
!.env.example

# Logs
logs/
*.log

# Sistema operativo
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Cobertura de pruebas
coverage/

# Package lock
# package-lock.json